@use '../../../../assets/styles/var.scss' as m;


//badge count each item
.count-item{
    position: absolute;
    top: -5px;
    right: 0;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.778);
    color: m.$gray-200;
    font-size: m.$font-size-12;
    z-index: 999;
}

//card item
.card {
    border-radius: 8px;
    font-size: m.$font-size-14;

    .card-body {
        padding: 10px;

        .item-name{
            color: m.$gray-600;
            font-size: m.$font-size-14;
            font-weight: 400;
        }

        .item-price{
            font-size: m.$font-size-14;
        }
    }

    .card-img-top {
        height: 150px;
        object-fit: contain;
    }
}


// button view cart
// .cart-bar{
//     margin: auto;
//     background-color: rgb(219, 130, 130);
//     // width: 100%;
//     height: 80px;
//     border-top-left-radius: 15px;
//     border-top-right-radius: 15px;
//     position: fixed;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     padding: 10px 12px 0 12px;
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

//     .btn-cart {
//         height: m.$de-height-btn;
//         background: m.$primary-btn;
//         color: rgba(255, 255, 255, 0.833);
//         border-radius: 14px;
//         font-weight: 500;

//         .total-item{
//             font-size: 14px;
//             width: 30px;
//             height: 30px;
//             border-radius: 100%;
//             border: 1px solid rgba(255, 255, 255, 0.446);
//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }
//     }
// }
